body {
  margin: 0;
  background-color: #0B0C10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --background: #343D80;
  --wingColor: #5462CC;
  --hover: #5B5F80;
  --accent: #B5BEFF;
  --text: #FFFFFF;
  --edgeRadius: 8px/8px;
  --navSize: 70px;
  --border: 4px solid var(--wingColor);
  --animationSpeed: 800ms;
  /*
    --variation1: #343D80
   */
}

