

.navigationBar{
    background-color: #1F2833;
    border-bottom: #1F2833;
    height: var(--navSize);
    align-items: center;
}

.navigation{
    max-width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex; /*verteilt*/
    align-items: center;
    justify-content: flex-end; /*rechtsbündig*/
    float: right;
}

.navigationItem{
    --itemSize: calc(var(--navSize) * 0.8);
    height: var(--itemSize);
    width: calc(var(--itemSize) * 1.4);
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationButton{
    --buttonSize: calc(var(--navSize) * 0.4);
    height: var(--buttonSize);
    width: calc(var(--buttonSize) * 1);
    border-radius: 50%;
    background-color: #0B0C10;
    padding: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationButton:hover{
    filter: brightness(1.2);
}

.dropDownList{
    margin: 10px;
    padding: 0px;
    border-radius: var(--edgeRadius);
    background-color: #1F2833;
}

.dropDownItem{
    background-color: #1F2833;
    color: #45A29E;
    margin: 10px;
    padding: 10px;
    border-radius: var(--edgeRadius);
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color var(--animationSpeed);
}

.dropDownItem:hover{
    background-color: #45A29E;
    color: #1F2833;
}
.dropDownItem:focus{
    border: 3px solid #fd009c;
}

.dropZone{
    position: absolute;
    top: var(--navSize);
    right: 0px;
    display: flex;
    align-items: center;
}

.icon{
    width: calc(var(--navSize)*0.43);
}

.impressum{
    margin: 10px;
    padding: 10px;
    border-radius: var(--edgeRadius);
    background-color: #1F2833;
    color: #45A29E;
}

.hilfe{
    margin: 10px;
    padding: 10px;
    border-radius: var(--edgeRadius);
    background-color: #1F2833;
    color: #45A29E;
}

.logo{
    height: calc(var(--navSize)*0.8);
    margin: 10px;
}

.Help-text{
    color: #45A29E;
    font-size: 20px;
}