.roomlist-wrapper{
    background-color: #45A29E;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.room-header{
    margin: 5%;
}

.room-list {
    background-color: #45A29E;
    margin: 3%;
    height: 350px;
    overflow: auto;
    padding: 0px;
    width: 70%;
}

.other-Room{
    color: #45A29E;
    background-color: #1F2833;
    border-style: solid;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-color: #45A29E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--edgeRadius);
}

.current-Room{
    color: #66FCF1;
    background-color: #1F2833;
    border-style: solid;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-color: #66fcf1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
    border-radius: var(--edgeRadius);
}

.room-button-other-Room{
    color: #45A29E;
    background: none;
    border:none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 2% 20% ;
    margin: 0;
 }

.room-button-current-Room{
    color: #66FCF1;
    background: none;
    border:none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 2% 20% ;
    margin: 0;
    font-style: oblique;
    text-decoration: underline;
}

.create{
    margin: 3px;
    color: #45A29E;
    background: #1F2833;
    border:none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 2% 8% ;
    border-radius: var(--edgeRadius);
}

.delete{
    margin: 3px;
    color: #45A29E;
    background: #1F2833;
    border:none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 2% 8% ;
    border-radius: var(--edgeRadius);
}

.roomlink-text{
    position: relative;
    left: 15px;
    text-align: center;
}

@media only screen and (min-width: 698px) {
    .delete{
    margin-left: 11%;
    }
}

@media only screen and (max-width: 697px) {
    .delete{
    margin-left: 23%;
    }
}